body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: #29487d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-register {
  padding-left: 20%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline;
  padding-right: 8px;
  color: white;
}

.register-button {
  background-color: #69a74e;
  color: white;
  border: 0;
  align-self: center;
  height: 20px;
  border-radius: 3px;
}

.join-login {
  padding-right: 20%;
  color: white;
}

.body-context {
  padding: 20px 20% 0 20%;
}

.picture-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.left-part,
.right-part {
  width: 47%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.text-format {
  font-size: small;
  color: darkgrey;
}

.button-style {
  margin-top: 50px;
}
